body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
   	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
	width : 45%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: #e1e4e2;
	margin : 55px 0px;
	padding : 30px;
	border-radius : 10px;
	border : 5px solid black;
}

.container h1 {
	font-size: 46px;
	margin: 20px 0px;
}

.message {
	display: flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
}

.message p {
	font-size: 32px;
	text-align: center;
	color: #cd291d;
}

.action {
	display: flex;
	flex-direction: raw;
	justify-content: center;
	align-items: center;
	gap: 10%;
}

.action a {
	width: 75%;
	font-size: 28px;
	text-decoration: none;
	text-align: center;
	color: black;
	border: 2px solid black;
    border-radius: 2px;
    margin: 0px 15px;
    padding: 6px 36px;
    background-color: #e0dfdf;
    cursor: pointer;
}