body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 40px;
    padding: 20px;
    background-color: #e1e4e2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 4.5px solid black;
}

.container h1 {
	font-size: 58px;
	margin : 50px 0px;
}

.container p {
	font-size: 32px;
	cursor : pointer;
	padding : 10px;
	border-radius: 10px;
	background-color: #b7b9bb;
	border: 3.5px dashed black;
	margin : 50px 0px;
}

.container p a {
	font-size: 32px;
	text-decoration: none;
	color: black;
}

.container p a:hover{
	color : #ab6763;
}

.container img {
	box-shadow: 7px 7px 20px 9px rgba(0,0,0,0.75);
	-webkit-box-shadow: 7px 7px 20px 9px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 20px 9px rgba(0,0,0,0.75);
	background-size: cover;
    background-position: center;
    border-radius: 4px;
   	margin : 15px 0px;
}