<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Confirmation action</title>
	    <link rel="stylesheet" type="text/css" media="all" href="/css/confirmation.css" th:href="@{/css/confirmation.css}" />
	</head>
	
	<body>
	
		<div class="container">
	
		    <h1>
		    	Confirmer la suppression
		    </h1>
		    
		    <div th:if="${patient != null}" class="message">
	
				<p th:text="'Êtes-vous sûr de vouloir supprimer le dossier de ' + ${patient.name} + ' ' + ${patient.firstName} +' ?'"></p>
			
				<div class="action">
				
					<a th:href="@{/ui/patients/delete/{id}(id=${patient.id})}">Oui</a>
					<a th:href="@{/ui/patients/{id}(id=${patient.id})}">Non</a>
				
				</div>
				
			</div>
			
			<div th:if="${note != null}" class="message">
	
				<p th:text="'Êtes-vous sûr de vouloir supprimer la note dans le dossier de ' + ${note.patient} + ' ?'"></p>
			
				<div class="action">
				
					<a th:href="@{/ui/notes/delete/{id}(id=${note.id})}">Oui</a>
					<a th:href="@{/ui/patients/{id}(id=${note.patId})}">Non</a>
				
				</div>
			
			</div>
			
			<div th:if="${user != null}" class="message">
	
				<p th:text="'Êtes-vous sûr de vouloir supprimer l utilsateur ' + ${user.name} + ' ' + ${user.firstName} + ' de l application ?'"></p>
			
				<div class="action">
				
					<a th:href="@{/ui/users/delete/{id}(id=${user.id})}">Oui</a>
					<a href="/ui/users">Non</a>
				
				</div>
			
			</div>
		
		</div>
		
	</body>
	
</html>