<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Home page</title>
	    <link rel="stylesheet" type="text/css" media="all" href="/css/home.css" th:href="@{/css/home.css}" /> 
	</head>
	
	<body>
		<div class="container">
		    <h1>Bienvenue sur l'application de MediLabo</h1>
		    <img th:src="@{/images/logo.png}" title="MediLabo" alt="Logo de l'entreprise MediLabo" />
		    <p>
		    	<a href="/ui/login">Consulter les dossiers des patients</a>
		    </p>
	    </div>
	</body>
	
</html>