<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Nouveau dossier</title>
	    <link rel="stylesheet" type="text/css" media="all" href="/css/users/add-update.css" th:href="@{/css/users/add-update.css}" />
	</head>
	
	<body>
	
		<div class="container">
			    
		    <h1>
		    	Veuillez remplir le formulaire avec les informations du nouvel utilisateur
		    </h1>
		    
		    	<form th:action="@{/ui/users/validate}" th:object="${user}" method="post">
		    		
		    		<div class="input-container">
			    		<label for="name">Nom * </label>
			    		<input type="text" id="name" th:field="*{name}" placeholder="Nom"/>
			    		<p style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		    		</div>
		    		
		    		<div class="input-container">
			    		<label for="firstName">Prénom * </label>
			    		<input type="text" id="firstName" th:field="*{firstName}" placeholder="Prénom"/>
			    		<p style="color: red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
		    		</div>
		    		
		    		<div class="input-container">
			    		<label for="username">Username * </label>
			    		<input type="text" id="username" th:field="*{username}" placeholder="Nom d'utilisateur"/>
			    		<p style="color: red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
		    		</div>
		    		
		    		<div class="input-container">
			    		<label for="mail">Mail * </label>
			    		<input type="text" id="mail" th:field="*{mail}" placeholder="Adresse mail"/>
			    		<p style="color: red;" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p>
		    		</div>
		    		
		    		<div class="input-container">
			    		<label for="password">Mot de passe * </label>
			    		<input type="password" id="password" th:field="*{password}" placeholder="Mot de passe"/>
			    		<p style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
		    		</div>
		    		
		    		<div class="input-container">
			    		<label for="birthDate">Date de naissance</label>
			    		<input type="text" id="birthDate" th:field="*{birthDate}" placeholder="jj-mm-aaaa"/>
			    		<p style="color: red;" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
		    		</div>
		    		
		    		<div class="select-container">
			    		<label for="role">Rôle * </label>
			    		<select id="role" th:field="*{role}">
			    			<option value="" disabled selected placeholder>-- Selectionner un role pour l'utilisateur --</option>
			    			<option value="USER">Utilisateur</option>
			    			<option value="ADMIN">Administrateur</option>
			    		</select>
			    		<p style="color: red;" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
		    		</div>
		    		
		    		<p>Les champs avec un * sont obligatoires</p>
		    		
		    		<button type="submit">Ajouter l'utilisateur</button>
		    		
		    	</form>
		    
		    <div class="back-action">
			
				<a href="/ui/users">Retour à la liste des utilisateurs</a>
			
			</div>
			
		</div>
		
	</body>
	
</html>