body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
   	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
	width : 65%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: #e1e4e2;
	margin : 55px 0px;
	padding : 30px;
	border-radius : 10px;
	border : 5px solid black;
}

.container h1 {
	font-size: 34px;
}

.container h2{
	font-size: 26px;
	margin-top: 55px;
}

.risk-level p {
	margin: 30px 0px;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	font-size: 18px;
	font-weight: 600;
}

.informations{
	width: 55%;
	display: flex;
	flex-direction : column;
	justify-content: flex-start;
	align-items: flex-start;
	border: 1.5px solid black;
	border-radius: 2px;
	background-color: #f3f2f2;
}

.informations p {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 20px 0px;
	padding-left: 45px;
	font-size: 20px;
	font-weight: 300;
	border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

.action{
	width: 55%;
	display: flex;
	flex-direction: raw;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0px;
}

.action a {
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-align: center;
	color: black;
	border: 2px solid black;
    border-radius: 2px;
    margin: 0px 10px;
    padding: 6px;
    background-color: #e0dfdf;
}

.note-container{
	width: 55%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: flex-start;
	margin : 40px 0px;
}

.note-container a{
	width: 25%;
	text-decoration: none;
	text-align: center;
	color: black;
	border: 2px solid black;
    border-radius: 2px;
    margin: 0px 10px;
    padding: 6px;
    background-color: #e0dfdf;
}

.note {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: 1.5px solid black;
	margin: 10px 0px;
	padding: 15px 5px;
	font-size: 18px;
	background-color: #f3f2f2;
}

.back-list{
	width: 55%;
}

.back-list a{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-align: center;
	color: black;
	border: 2px solid black;
    border-radius: 2px;
    margin: 0px 10px;
    padding: 6px;
    background-color: #e0dfdf;
}