<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Nouveau dossier</title>
	     <link rel="stylesheet" type="text/css" media="all" href="/css/patients/add.css" th:href="@{/css/patients/add.css}" />
	</head>
	
	<body>
	
		<div class="container">
			    
		    <h1>
		    	Veuillez remplir le formulaire avec les informations du patient à ajouter pour son dossier personnel
		    </h1>
		    
		    	<form th:action="@{/ui/patients/validate}" th:object="${patient}" method="post">
		    		
		    		<div class="input-container">
			    		<label for="name">Nom * </label>
			    		<input type="text" id="name" th:field="*{name}" placeholder="Nom"/>
			    		<p style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		    		</div>
		    		
		    		<div class="input-container">
			    		<label for="firstName">Prénom * </label>
			    		<input type="text" id="firstName" th:field="*{firstName}" placeholder="Prénom"/>
			    		<p style="color: red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
		    		</div>
		    		
		    		<div class="input-container">
			    		<label for="birthDate">Date de naissance * </label>
			    		<input type="text" id="birthDate" th:field="*{birthDate}" placeholder="jj-mm-aaaa"/>
			    		<p style="color: red;" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
		    		</div>
		    		
		    		<div class="select-container">
			    		<label for="gender">Genre * </label>
			    		<select id="gender" th:field="*{gender}">
			    			<option value="" disabled selected placeholder>-- Selectionner une option --</option>
			    			<option value="M">Homme</option>
			    			<option value="F">Femme</option>
			    			<option value="A">Autre</option>
			    		</select>
			    		<p style="color: red;" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
		    		</div>
		    		
		    		<div class="input-container">
			    		<label for="address">Adresse </label>
			    		<input type="text" id="address" th:field="*{address}" placeholder="Adresse"/>
		    		</div>
		    		
		    		<div class="input-container">
			    		<label for="phoneNumber">Numéro de téléphone </label>
			    		<input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Numéro"/>
		    		</div>
		    		
		    		<button type="submit">Ajouter le dossier</button>
		    		
		    	</form>
		    	
		    	<p>Les champs avec un * sont obligatoires</p>
		    
		    <div class="back-action">
			
				<a href="/ui/patients">Retour à la liste des dossiers</a>
			
			</div>
			
		</div>
		
	</body>
	
</html>