<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Confirmation action</title>
	    <link rel="stylesheet" type="text/css" media="all" href="/css/patients/confirmation.css" th:href="@{/css/patients/confirmation.css}" />
	</head>
	
	<body>
	
		<div class="container">
	
		    <h1>
		    	Confirmer la suppression
		    </h1>
		    
		    <div class="message">
	
				<p th:text="'Êtes-vous sûr de vouloir supprimer le dossier de ' + ${patient.name} + ' ' + ${patient.firstName} +' ?'"></p>
			
			</div>
		    
		    <div class="action">
				
				<a th:href="@{/ui/patients/delete/{id}(id=${patient.id})}">Oui</a>
				<a th:href="@{/ui/patients/{id}(id=${patient.id})}">Non</a>
			
			</div>
		
		</div>
		
	</body>
	
</html>