<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
    	<title th:text="'Dossier de ' + ${patient.name}"></title>
    	<link rel="stylesheet" type="text/css" media="all" href="/css/patients/informations.css" th:href="@{/css/patients/informations.css}" />
	</head>
	
	<body>
	
		
	
		<div class="container">
			
			<h1 th:text="'Dossier du patient : ' + ${patient.name} + ' ' + ${patient.firstName}"></h1>
			
			<h2>Dossier</h2>
			
			<div class="risk-level">
			
				<p th:text="'Niveau de risque du patient : ' + ${riskLevel}"></p>
			
			</div>
			
			<div class="informations">
			
				<p th:text="'Nom : ' + ${patient.name}"></p>
				<p th:text="'Prénom : ' + ${patient.firstName}"></p>
				<p th:text="'Date de naissance : ' + ${patient.birthDate}"></p>
				
				<p th:if="${patient.gender == 'M'}">Genre : Homme</p>
				<p th:unless="${patient.gender == 'M'}">Genre : Femme</p>
				
				<p th:text="'Adresse : ' + ${patient.address}"></p>
				<p th:text="'Numéro de téléphone : ' + ${patient.phoneNumber}"></p>
			
			</div>
			
			<div class="action">
				
				<a th:href="@{/ui/patients/update/{id}(id=${patient.id})}">Mettre à jour le dossier</a>
				<a th:href="@{/ui/patients/confirmation/{id}(id=${patient.id})}">Supprimer le dossier du patient</a>
			
			</div>
			
			<h2>Note sur le patient</h2>
			
			<div class="note-container">
				
				<a th:href="@{/ui/notes/add/{patId}(patId=${patient.id})}">Ajouter une nouvelle note</a>
				
				<div class="note" th:each="note : ${notes}">
				
					<p th:text="${note.note}"></p>
					
					<div class="note-action">
						<a th:href="@{/ui/notes/update/{id}(id=${note.id})}">Modifier la note</a>
						<a th:href="@{/ui/notes/confirmation/{id}(id=${note.id})}">Supprimer la note</a>
					</div>
					
				</div>
			
			</div>
			
			<div class="back-list">
			
				<a href="/ui/patients">Retour à la liste des dossiers</a>
			
			</div>
			
		</div>
		
	</body>
	
</html>