<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
    <title th:text="'Dossier de ' + ${patient.name}"></title>
	</head>
	
	<body>
	
	    <h1>Résumé de l'action que vous venez d'effectuer</h1>
	    
	    <p th:text="${message}"></p>
		
		<div>
		
			<p th:text="'Nome : ' + ${patient.name}"></p>
			<p th:text="'Prénom : ' + ${patient.firstName}"></p>
			<p th:text="'Date de naissance : ' + ${patient.birthDate}"></p>
			
			<p th:if="${patient.gender == 'M'}">Genre : Homme</p>
			<p th:unless="${patient.gender == 'M'}">Genre : Femme</p>
			
			<p th:text="'Adresse : ' + ${patient.address}"></p>
			<p th:text="'Numéro de téléphone : ' + ${patient.phoneNumber}"></p>
		
		</div>
		
		<div>
		
			<a href="/ui/patients">Retour à la liste des dossiers</a>
			<a th:href="@{/ui/patients/{id}(id=${patient.id})}">Voir le dossier</a>
		
		</div>
		
	</body>
	
</html>